{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Rent</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nivo-lightbox/nivo-lightbox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nivo-lightbox/default.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <style>
        .upload {
            width: 73%;
            height: 29px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid white;
            background-color: transparent;
            color: white;
        }

        .upload_form {
            border: 1px solid black;
            text-align: center;
            color: white;
            background-color: black;
            border-radius: 29px;
        }
    </style>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation
    ==========================================-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand page-scroll" href="/">Home Rent</a>
                <div class="phone"><span>Call Today</span>320-123-4321</div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about" class="page-scroll">About</a></li>
                    <li><a href="" class="page-scroll">Services</a></li>
                    <li><a href="" class="page-scroll">Find Home</a></li>
                    <li><a href="{% url 'upload' %}" class="page-scroll">Upload</a></li>
                    <li><a href="#contact" class="page-scroll">Contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <!-- Header -->
    <header id="header">
        <div class="intro">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 intro-text">

                            <div class="upload_form">
                                <br>
                                <br>
                                <h1>Upload Your Home Details</h1>
                                {% for message in messages %}
                                <div class="alert alert- {{ message.tags }} alert-dismissible fade show" role="alert">
                                    <strong>Warning : </strong> {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                                {% endfor %}
                                <form action="{% url 'upload_form' %}" method="POST">
                                    {% csrf_token %}
                                    <input name="username" type="hidden" value="{{ user.username }}">
                                    <input class="upload" name="name" type="hidden" value="{{ user.get_full_name }}">
                                    <br>
                                    <br>
                                    <input class="upload" name="phone" type="text" placeholder="Enter Your Phone"
                                        required>
                                    <br>
                                    <br>
                                    <input class="upload" name="address" type="text" placeholder="Enter Your Address"
                                        required>
                                    <br>
                                    <br>
                                    <input class="upload" name="price" type="text" placeholder="Price" required>
                                    <br>
                                    <br>
                                    <input class="upload" name="details" type="text" placeholder="Details" required>
                                    <br>
                                    <br>
                                    <input class="upload" name="location" type="text" placeholder="Location" required>
                                    <br>
                                    <br>
                                    {% if user.is_authenticated %}
                                    <input style="background-color: white; color: black;" type="submit" value="Submit">
                                    {% else %}
                                    <p><a href="{% url 'signin' %}">Please Login First</a></p>

                                    {% endif %}


                                    <br>
                                    <br>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Get Touch Section -->
    <div id="get-touch">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-1">
                    <h3>Cost for your home renovation project</h3>
                    <p>Get started today and complete our form to request your free estimate</p>
                </div>
                <div class="col-xs-12 col-md-4 text-center"><a href="#contact"
                        class="btn btn-custom btn-lg page-scroll">Free
                        Estimate</a></div>
            </div>
        </div>
    </div>



    <!-- Contact Section -->
    <div id="contact">
        <div class="container">
            <div class="col-md-8">
                <div class="row">
                    <div class="section-title">
                        <h2>Get In Touch</h2>
                        <p>Please fill out the form below to send us an email and we will get back to you as soon as
                            possible.</p>
                    </div>
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" id="name" class="form-control" placeholder="Name"
                                        required="required">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" id="email" class="form-control" placeholder="Email"
                                        required="required">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message"
                                required></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div id="success"></div>
                        <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
                    </form>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 contact-info">
                <div class="contact-item">
                    <h4>Contact Info</h4>
                    <p><span>Address</span>4321 California St,<br>
                        San Francisco, CA 12345</p>
                </div>
                <div class="contact-item">
                    <p><span>Phone</span> +1 123 456 1234</p>
                </div>
                <div class="contact-item">
                    <p><span>Email</span> info@company.com</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section -->
    <div id="footer">
        <div class="container text-center">
            <p>&copy; 2017 INNOVA. Design by <a href="http://www.templatewire.com" rel="nofollow">TemplateWire</a></p>
        </div>
    </div>
    <!-- <script type="text/javascript" src="{% static 'js/jquery.1.11.1.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/nivo-lightbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/contact_me.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('form').submit(function (evt) {
                evt.preventDefault();// to stop form submitting
            });
        });

    </script>
</body>

</html>